*{
    padding: 0;
    margin:0;
}

body{
    background-color: rgb(239, 236, 236);
}

header{
    background-color: #fff159;
}

header .main{
    max-width: 1200px;
    margin: 0 auto;
}

.search-header{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

.search-header .disney{
    display: flex;
    align-items: center;
}

.search-header .disney .promocion{
    color:white;
    border-radius: 6px;
    padding: 5px;
    background: rgb(42,8,46);
    background: linear-gradient(103deg, rgba(42,8,46,1) 0%, rgba(93,9,121,1) 35%, rgba(192,0,255,1) 100%);
    white-space: nowrap;
}

.search-header input{
    padding: 7px 60px 9px 15px;
    width: 550px;
    font-size:16px;
}

.search-header .input-container{
    position: relative;
}

.search-header .input-container .input-box{
    position: absolute;
    right:12px;
    top:8px;
    border-left:1px solid black;
    padding: 3px 3px 3px 10px;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 7px;
}

.header-menu .location{
    display: flex;
    gap:5px
}

.header-menu .location i{
    font-size:25px;
}

.header-menu .location .ubicacion p:first-child{
    font-size:12px;
}

.main-menu nav ul{
    display: flex;
    list-style: none;
    gap:15px;
}

.secondary-menu nav ul{
    display: flex;
    list-style: none;
    gap:15px;
}

.slider{
    display: flex;
    justify-content: center;
    position:relative;
}

.ofertas{
    max-width: 1200px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    gap:15px;
    align-items: flex-start;
}

.ofertas img{
    width: 100%;
    
}

.oferta{
    background-color: white;
    border-radius: 4px;
}

.oferta:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.oferta .content{
    padding: 15px;
    border-top:1px solid lightgray
}

.oferta .prices{
    display: flex;
    align-items: center;
    gap:10px;
    margin-bottom:10px;
}

.oferta .price{
    font-size:22px
}

.oferta .discount{
    color:green
}

.oferta .cuotas{
    color:green;
}

.oferta .envio{
    color:green;
}

.oferta .original{
    text-decoration: line-through;
    display: none;
}

.oferta .descripcion{
    display: none;
}

.oferta:hover .original{
    display: initial;
}

.oferta:hover .descripcion{
    display: initial;
}

.slider .previewIcon{
    position: absolute;
    padding: 20px;
    background-color: lightblue;
    left:0px;
    top:50%;
    transform: translateY(-50%);
    cursor:pointer;
    border-top-right-radius:50%;
    border-bottom-right-radius:50%;
}

.slider .nextIcon{
    position: absolute;
    padding: 20px;
    background-color: lightblue;
    right:0px;
    top:50%;
    transform: translateY(-50%);
    cursor:pointer;
    border-top-left-radius:50%;
    border-bottom-left-radius:50%;
}
